body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 1rem;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

header, footer {
    padding: 1rem;
    background: #f2f2f2;
}
